/*******display******/
.d-flex{display:flex;}

/******flex*******/
.flex-grow{flex-grow: 1;}

/****** align & justify********/
.justify-content-between {justify-content: space-between;}
.align-items-center {align-items: center;}